{% extends 'base.html' %}
{% block content %}

<header class="header">
    <div>
        <h1>Popular Movie</h1>
    </div>
</header>
<div class="app-header">
    <div class="movie-list-container">
        {% for movie in data %}
        <div class="movie-wrapper">
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
            </div>
            <div class="movie-title">
                <a class="a" href="{{ url_for('detail_m', title=movie.id) }}">{{movie.title}}</a>
            </div>
            <div class="movie-rate">
                <span class="fa fa-star checkhed" style="font-size: 3vh;"></span>
                <span style="font-size: 3vh;">{{movie.vote_average}} | {{movie.release_date}}</span>
            </div>
            <div class="movie-genre">
                {% for genre in movie.genre_ids %}
                {% for datas in responses %}
                {% if datas['id'] == genre %}
                <span style="font-size: 2.5vh;">{{ datas['name'] }}</span>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>    
</div>

{% endblock %}