{% extends 'base.html' %}
{% block content %}
<header class="header">
    <div>
        <h1>Popular Movie</h1>
    </div>
</header>
<div class="app-header">
    <div class="movie-list-container">
        {% for movie in data %}
        <div class="movie-wrapper">
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
            </div>
            <div class="movie-title">
                {{movie.title}}
            </div>
            <div class="movie-rate">
                <img src="{{ url_for('static', filename='icon/star.png') }}" alt="" width="20px"> {{movie.vote_average}} | {{movie.release_date}}
            </div>
        </div>
        {% endfor %}
    </div>    
</div>

{% endblock %}